.maincontent{
  margin-top: 64px;
}
.layout{
    min-width: 1000px;
    max-width: 1400px;
}
.header{
    color:white;
    font-size: 22px;
    position: fixed;
    width: 100%;
}
.icon{
    margin-right: 12px;
    margin-top: 20px;
    float: left;
    font-size: 28px;
}
.sider {
    background: #fff;
    width: 200px;
    height: 100%;
    position: fixed;
    /* margin-top: 64px; */
  }

  .contentbar {
    margin-left: 192px;
    padding: 0 24px 24px;
    /* margin-top: 64px; */
  }
  
  /* .breadcrumb {
    margin: 32px 0;
  } */
  
  .content {
    background: #ffffff;
    /* padding: 24px; */
    margin-top: 24px;

    min-height: 450px;
  }
  
  .footer {
    height: 50px;
  }
  
  .footerContent {
    text-align: center;
  }